@font-face {
  src: url("/src/vendor/fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "CabinetGrotesk-Bold";
}

.main__description {
  margin-top: 40px;

  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  line-height: 1.2px;
}

.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin-top: 34px;
  list-style: none;
  gap: 17px;
}
